<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.mapper.ExamResultMapper">
    <select id="getExamResult" resultType="com.tc.entity.ExamResult">
        SELECT
          plan.exam_name AS examName,
          result.total_score AS totalScore
        from tab_exam_result result
        LEFT JOIN tab_exam_plan plan on result.paper_ID=plan.ID
        WHERE result.student_ID=#{studentId}
    </select>
    <update id="updateEssayScore" parameterType="java.util.Map">
        UPDATE tab_exam_result
        SET essay_score=#{score}
        WHERE student_id=#{studentId}
        AND paper_id=#{paperId}
    </update>
    <update id="updateTotalScore" parameterType="java.util.Map">
        update tab_exam_result
        set total_score=single_score+multi_score+judge_score+essay_score
        WHERE
        student_ID=#{studentId}
        AND paper_ID=#{paperId}
    </update>

    <select id="getResultList" resultType="com.tc.entity.ResultList">
        SELECT
        stu.ID AS studentId,
        stu.student_name AS studentName,
        stu.Class_NO AS classId,
        ep.exam_name AS examName,
        er.total_score AS totalScore
        FROM tab_exam_result er
        LEFT JOIN tab_student stu ON er.student_ID=stu.ID
        LEFT JOIN tab_exam_plan ep on er.paper_ID=ep.ID
    </select>
</mapper>